<div class="skills row">
    <div class="col-md-6">        
        <p><span><i class="fa-solid fa-code" style="color: #5dc9d0;"></i> Programming Languages :</span></p>
        <p class="skill">Kotlin, Java, PHP, NodeJS, Python</p>

        <p><span><i class="fa-solid fa-globe" style="color: #5dc9d0;"></i> Web :</span></p>
        <p class="skill">Typescript, React, Vue, OpenAPI</p>

        <p><span><i class="fa-solid fa-toolbox" style="color: #5dc9d0;"></i> Tools :</span></p>
        <p class="skill">Git, Figma, Trello</p>

        <p><span><i class="fa-solid fa-server" style="color: #5dc9d0;"></i> System Administration :</span></p>
        <p class="skill"> GNU/Linux, Nixos, Jenkins</p>
           </div>
    <div class="col-md-6">
        <p><span><i class="fa-solid fa-gear" style="color: #5dc9d0;"></i> Methods :</span></p>
        <p class="skill"> Agile/Software craftmanship, UX Design, UI Atomic Design, Peer review, Test Driven Development, Hexagonal architecture, Micro services</p>

        <p><span><i class="fa-solid fa-user" style="color: #5dc9d0;"></i> Non technical :</span></p>
        <p class="skill"> Teaching, Project management, Customer training and support, Creation of Video/Audio/Written content</p>

        <p><span><i class="fa-solid fa-language" style="color: #5dc9d0;"></i> Human Languages :</span></p>
        <p class="skill"> French (native), English (fluent, TOEIC Max), German (formerly B2), Chinese (>2500 known words with Lingq), Japanese (formerly A2), Russian (formerly A1)</p>
    </div>
</div>